.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  .header {
    background-color: rgba(255, 187, 0, 0.692);
    text-align: center;
    font-weight: 900;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(3, 3, 3);
    
}
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  
  .AddPhoto {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }

  }
  .Input-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Input:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .invalid-feedback{
    text-decoration: none ;
    color: red;
  }
  /* .Name {display: inline-block; width:47%;} */
  .Text-inputs label {display: block !important; width: 20% !important;}

.Text-inputs .cf-medium {width:20%;}

  .Text-inputs{
  width: 30%;
  /* padding: 6px 12px; */
  /* margin:  0; */
  display: inline-block;
 
  /* border: 1px solid #ccc; */
  /* border-radius: 2px;
  box-sizing: border-box; */
}