.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  body{
    font-family: 'Hind Guntur', sans-serif;
    color: #054231;
    display: flex;
    /* justify-content: center; */
    background: rgb(255, 255, 255);
    background-repeat: no-repeat, no-repeat;
    background-position:  200% -40%;
    background-size: 80%;
  }
  
  
  
  /* .card{
    width: 310px;
    height: 627px;
    padding: 15px;
    margin-top: 40px;
    border-radius: 25px;
    display: flex;
    
    box-shadow: 15px 10px 25px 0px  goldenrod;
    background: #fff;
    background-repeat: no-repeat, no-repeat;
    background-position: 120% -5%, 200% -40%;
    background-size: 40%, 80%;
    animation: open .5s;
  } */
  @keyframes open {
    0%  {background-position: 166% -25%, 220% -69%;}
    100%{background-position: 120% -5%, 200% -40%;}
  }
  form{
    display: flex;
    flex-direction: column;
  }
  .form-inline {
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .field{
    margin: 5px;
    display: flex;
    flex-direction: column;
    }
  input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 6px;
    cursor: pointer;
    background: linear-gradient goldenrod;
    margin-bottom: 25px;
  }
  
  .img-wrap{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  .img-upload:before{
    content: "\f093";
    font-size: 90px;
    position: absolute;
    padding-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: goldenrod;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
  }
  .img-upload:hover:before{
   opacity: 1;
  }
  img {
    width: auto;
    height: 100%;
  }
  
  span{
    text-transform: uppercase;
    margin:  25px;
    font-weight: 700;
    color: #676767;
  
  }
  
  input{
   
    vertical-align: middle;
    border-radius: 15px;
    border: 1px solid #b7b7b7;
    padding: 5px 5px 5px 10px;
    font-size: 18px;
    transition: 0.2s;
  }
  input:focus{
    outline: none;
    border: 1px solid goldenrod;
  }
  input::placeholder{
    color: #bebebe;
  }
  .name{ 
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    color: #676767;
    max-width: 220px;
    overflow-wrap: break-word;
  }
  .status{
    text-align: center;
    max-width: 220px;
    overflow-wrap: break-word;
  }
  button{
    position: relative;
    color: #054231;
    letter-spacing: 1px;
    margin: 20px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    background: goldenrod;
  }
  .save{
    font-weight: 600;
    left: -20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 20px;
    box-shadow: 20px 0px 40px 0px  #63d3a6;
  }
  .edit{
    color: #fff;
    width: 180px;
  }
  button:hover{
    left: 0;
    color: #fff;
    width: 180px;
    box-shadow: 0px 0px 20px 0px  goldenrod;
  }
  button:focus{
    outline: none;
  }
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  
  
  .fa-instagram{
    position: absolute;
    color: #79f1a4;
    top: 3%;
    right: 2%;
    font-size: 38px;
  }
  .fa-instagram:hover{
    font-size: 42px;
    color: #caff81;
    transition: all .1s linear;
    cursor: pointer;
  }
  /* .header {
    background-color: rgba(255, 187, 0, 0.692);
    text-align: center;
    font-weight: 900;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(3, 3, 3);
    
}
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  
  .AddPhoto {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  .App-link { */
    /* color: #61dafb;
  } */
  
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    } */

  /* }
  .Input-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  /* .Input:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */
  /* .invalid-feedback{
    text-decoration: none ;
    color: red;
  } */
  /* .Name {display: inline-block; width:47%;} */
  /* .Text-inputs label {display: block !important; width: 20% !important;}

.Text-inputs .cf-medium {width:20%;}

  .Text-inputs{
  width: 30%;
  /* padding: 6px 12px; */
  /* margin:  0; */
  /* display: inline-block; */
 
  /* border: 1px solid #ccc; */
  /* border-radius: 2px;
  box-sizing: border-box; */

   